<div class="bg-dark " style="height: 100vh; overflow: auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
        <div class=" collapse navbar-collapse mt-2" id="navbarSupportedContent ">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ml-3">
                    <a class="nav-link text-light ml-3 h5" href="# ">Home </a>
                </li>
                <li class="nav-item active ml-3">
                    <a class="nav-link text-light h5" href="# ">Link</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2 " type="search " placeholder="Search " aria-label="Search ">
                <button class="btn btn-outline-light  text-light" type="submit ">Search</button>
            </form>
        </div>
    </nav>
    <div class="side-bar">
        <div class="accordion" id="accordionExample">
            <div class="side-group">
                <div class="btn-group">
                    <button class="btn btn-link btn-block  text-light text-center  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Input Item
                    </button>
                </div>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-dark" style="margin: 0;">
                    <p class="text-light ml-2" type="button" routerLink="input">INPUT</p>
                </div>
            </div>
            <div class="side-group">
                <div class="btn-group">
                    <button class="btn btn-link btn-block  text-light text-center  dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Output Item
                    </button>
                </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body bg-dark" style="margin: 0;">
                    <p class="text-light ml-2" type="button" routerLink="output"> Student</p>
                    <p class="text-light ml-2" type="button" routerLink="teacher"> Teacher </p>
                    <p class="text-light ml-2" type="button" routerLink="classrooms"> Classrooms </p>
                </div>
            </div>

        </div>
    </div>

    <div class="content-right" style="margin-top: -90px;">
        <div class="content-body" style="margin-top: 90px;">
            <router-outlet></router-outlet>
        </div>
    </div>


</div>