<div class="card">
    <div class="card-header bg-primary">
        <p class="h3 text-center text-light mt-2">Table Teacher</p>
    </div>
    <div class="card-body" style="padding: 0;">
        <table class="table table-bordered table-info text-center" style="margin: 0;">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Subject</th>
                    <th scope="col">info</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of dataTeacher">
                    <th scope="row">{{i.teacherId}}</th>
                    <td>{{i.teacherName}}</td>
                    <td>{{i.teacherTel}}</td>
                    <td>{{i.subjectTaught}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="getIdTeacher(i.teacherId)" data-toggle="modal" data-target="#exampleModalCenter"> Edit</button>
                        <button class="btn btn-danger ml-3" (click)="deleteDataTeacher(i.teacherId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form [formGroup]="formedit" (ngSubmit)="submitEditDataTeacher()">
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-header">
                                    Edit
                                </div>
                                <div class="card-body" *ngIf="dataEdit != undefined">
                                    <p class="text-left">teacherName</p>
                                    <input formControlName="teacherName" [(ngModel)]="dataEdit.teacherName" type="text" class="form-control mb-2">
                                    <div class="row">
                                        <div class="col">
                                            <p class="text-left">teacherTel</p>
                                            <input formControlName="teacherTel" [(ngModel)]="dataEdit.teacherTel" type="text" class="form-control">
                                        </div>
                                        <div class="col">
                                            <p class="text-left"> subjectTaught</p>
                                            <input formControlName="subjectTaught" [(ngModel)]="dataEdit.subjectTaught" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary mr-3">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>