<div class="container-fluid">
    <div class="row">

        <!-- Student -->
        <div class="col">
            <form [formGroup]="formstudent" (ngSubmit)="onsubmitStudent()">
                <div class="card" style="overflow: hidden;">
                    <div class="card-header bg-primary">
                        <p class="h3 text-center text-light mt-2">กรอกข้อมูล Student</p>
                    </div>
                    <div class="card-body">
                        <p class="text-left">StudentName</p>
                        <input formControlName="studentName" type="text" class="form-control " [ngClass]="{'is-invalid':submitStudent && formcontrolStudent.studentName.errors}">
                        <div *ngIf="submitStudent&&formcontrolStudent.studentName.errors" class="invalid-feedback">
                            <div *ngIf="formcontrolStudent.studentName.errors.required"> required Name</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-left mt-3">StudentTel</p>
                                <input formControlName="studentTel" type="text" class="form-control " [ngClass]="{'is-invalid':submitStudent && formcontrolStudent.studentTel.errors}">
                                <div *ngIf="submitStudent&&formcontrolStudent.studentTel.errors" class="invalid-feedback">
                                    <div *ngIf="formcontrolStudent.studentTel.errors.required">required Tel</div>
                                    <div *ngIf="formcontrolStudent.studentTel.errors.pattern">number only</div>
                                </div>

                            </div>
                            <div class="col">
                                <p class="text-left mt-3">StudentAge</p>
                                <input formControlName="studentAge" type="text" class="form-control " [ngClass]="{'is-invalid':submitStudent && formcontrolStudent.studentAge.errors}">
                                <div *ngIf="submitStudent&&formcontrolStudent.studentAge.errors" class="invalid-feedback">
                                    <div *ngIf="formcontrolStudent.studentAge.errors.required">required Age</div>
                                    <div *ngIf="formcontrolStudent.studentAge.errors.pattern">number only</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn bg-primary text-light" type="submit">submit</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- teacher -->
        <div class="col">
            <form [formGroup]="formteacher" (ngSubmit)="onsubmitTeacher()">
                <div class="card" style="overflow: hidden;">
                    <div class="card-header bg-primary">
                        <p class="h3 text-center text-light mt-2">กรอกข้อมูล Teacher</p>
                    </div>
                    <div class="card-body">
                        <p class="text-left">teacherName</p>
                        <input formControlName="teacherName" type="text" class="form-control " [ngClass]="{'is-invalid':submitTeacher && formcontrolTeacher.teacherName.errors}">
                        <div *ngIf="submitTeacher&&formcontrolTeacher.teacherName.errors" class="invalid-feedback">
                            <div *ngIf="formcontrolTeacher.teacherName.errors.required"> required Name</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text-left mt-3">teacherTel</p>
                                <input formControlName="teacherTel" type="text" class="form-control " [ngClass]="{'is-invalid':submitTeacher && formcontrolTeacher.teacherTel.errors}">
                                <div *ngIf="submitTeacher&&formcontrolTeacher.teacherTel.errors" class="invalid-feedback">
                                    <div *ngIf="formcontrolTeacher.teacherTel.errors.required">required Tel</div>
                                    <div *ngIf="formcontrolTeacher.teacherTel.errors.pattern">number only</div>
                                </div>

                            </div>
                            <div class="col">
                                <p class="text-left mt-3">subjectTaught</p>
                                <input formControlName="subjectTaught" type="text" class="form-control " [ngClass]="{'is-invalid':submitTeacher && formcontrolTeacher.subjectTaught.errors}">
                                <div *ngIf="submitTeacher&&formcontrolTeacher.subjectTaught.errors" class="invalid-feedback">
                                    <div *ngIf="formcontrolTeacher.subjectTaught.errors.required">required subject</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn bg-primary text-light" type="submit">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- classrooms -->
    <form [formGroup]="formclassrooms" (ngSubmit)="onsubmitClassrooms()">
        <div class="card" style="overflow: hidden; margin-top: 10px;">
            <div class="card-header bg-primary">
                <p class="h3 text-center text-light mt-2">กรอกข้อมูล Classrooms</p>
            </div>
            <div class="card-body">
                <p class="text-left">RoomName</p>
                <input formControlName="classroomName" type="text" class="form-control " [ngClass]="{'is-invalid':submitClassrooms && formcontrolClassRooms.classroomName.errors}">
                <div *ngIf="submitClassrooms&&formcontrolClassRooms.classroomName.errors" class="invalid-feedback">
                    <div *ngIf="formcontrolClassRooms.classroomName.errors.required"> required ClassRoomsName</div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn bg-primary text-light" type="submit">submit</button>
            </div>
        </div>
    </form>
</div>