<form [formGroup]="forminput" (ngSubmit)="onsubmit()">
    <div class="card" style="overflow: hidden;">
        <div class="card-header bg-primary">
            <p class="h3 text-center text-light mt-2">กรอกข้อมูล</p>
        </div>
        <div class="card-body">
            <p class="text-left">StudentName</p>
            <input formControlName="studentName" type="text" class="form-control " [ngClass]="{'is-invalid':submit && formcontrol.studentName.errors}">
            <div *ngIf="submit&&formcontrol.studentName.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.studentName.errors.required"> required username</div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-left mt-3">StudentTel</p>
                    <input formControlName="studentTel" type="text" class="form-control " [ngClass]="{'is-invalid':submit && formcontrol.studentTel.errors}">
                    <div *ngIf="submit&&formcontrol.studentTel.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.studentTel.errors.required">required password</div>
                        <div *ngIf="formcontrol.studentTel.errors.pattern">number only</div>
                    </div>

                </div>
                <div class="col">
                    <p class="text-left mt-3">StudentAge</p>
                    <input formControlName="studentAge" type="text" class="form-control " [ngClass]="{'is-invalid':submit && formcontrol.studentAge.errors}">
                    <div *ngIf="submit&&formcontrol.studentAge.errors" class="invalid-feedback">
                        <div *ngIf="formcontrol.studentAge.errors.required">required password</div>
                        <div *ngIf="formcontrol.studentAge.errors.pattern">number only</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn bg-primary text-light" type="submit">submit</button>
        </div>
    </div>
</form>